---
eleventyExcludeFromCollections: true
layout: base
title: lieu
---

  <h2> Introduction </h2>

  <p> Welcome to my website.</p>

  <h2> Writings </h2>

  <h3> Exploring questions no one really wanted the answer to </h3>
  <ol>
  {%- for post in collections.exploration | reverse -%}
    <li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
  {%- endfor -%}
  </ol>

  <h3> Poorly explaining concepts I found difficult to understand </h3>
  <ol>
  {%- for post in collections.explanation | reverse -%}
    <li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
  {%- endfor -%}
  </ol>

  <h3> Things I've built </h3>

  <ol>
  {%- for post in collections.programming | reverse -%}
    <li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
  {%- endfor -%}
  </ol>

  <h3> Diary entries that should be of no interest to anyone other than my close
  friends and family </h3>

  <ol>
  {%- for post in collections.diary | reverse -%}
    <li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
  {%- endfor -%}
  </ol>