---
eleventyExcludeFromCollections: true
layout: base
title: Subscribe to my newsletter
---

{% include 'newsletter.html' %}

<p> Some previous posts: </p>

<h3> Economics and data science </h3>
<ul>
{%- for post in collections.exploration | reverse -%}
<li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
{%- endfor -%}
</ul>

<h3> Programming projects </h3>
<ul>
{%- for post in collections.build | reverse -%}
<li><a href="{{ post.url | url }}"> {{post.data.title}}</a></li>
{%- endfor -%}
</ul>