---
title: All the work I've done for my PPE degree
eleventyExcludeFromCollections: true
layout: base
---

<p>
I thought it would be interesting (for posterity's sake) to upload
all the work I have done for my PPE degree.
This includes assignments (tutorial essays and problem sheets),
collections, and final exam scripts.
As my cohort took our exams online (due to COVID-19), 
I have been able to preserve the exam scripts I submitted.
</p>