<link rel="stylesheet" href="/css/nav.css" type="text/css">

<!-- Switch for dark mode toggle -->
<link rel="stylesheet" href="/css/switch.css" type="text/css">

<div>
 <a class = "page-title" href = "/"> 劉 </a>
 <span class = "page-subtitle"> Lieu Zheng Hong </span>
</div>


<hr>


<ul class = "navlist">
    <li> <a href="/"> Home </a> </li>
    <li> <a href="/about"> About </a> </li>
    <li> <a href="/projects"> Projects </a> </li>
    <li> <a href="/archive"> Archive </a> </li>
    <li> <a href="/ppe-stuff"> PPE work </li>
    <li> <a href="/notes"> Notes </a> </li>
</ul>

<hr>


<div class = "dark-mode-toggle-area">

  dark mode:
  <label id="theme-switch" class="theme-switch" for="checkbox_theme">
  <input type="checkbox" id="checkbox_theme" class="switch">
  <span class="slider"></span>
  </label>

</div>