<hr />
  <h3>Get new essays sent to you</h3>

  <p>
    Subscribe to get my posts on programming, statistics, data science and
    economics.
  </p>

  <p>
    I plan to send a newsletter once or twice a month, where I'll round up all
    of the most interesting posts I've written.
  </p>

  <div style="text-align: center">
    <iframe
      class="substack_subscribe_box"
      src="https://lieu.substack.com/embed"
      style="border: 0px solid #eee"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>

  <hr />
</form>
