---
eleventyExcludeFromCollections: true
layout: base
title: Notes I've made
permalink: "/{{page.fileSlug}}/"
---

<p> These are notes that I've made
in the process of studying various subjects.
Some of them are (much) more complete than others,
and all of them contain mistakes.
They were nonetheless very useful e.g. for my exams.
I have uploaded them in the hopes that
you, the reader, will help me improve the notes
by pointing out mistakes and suggesting improvements.
</p>
