/* 
* For the markdown-toc-done-right package
* https://www.npmjs.com/package/@gerhobbelt/markdown-it-toc-done-right)
*
*/

.toc ol {
  counter-reset: list-item;
}
.toc ol > li {
  display: block;
  counter-increment: list-item;
}
.toc ol > li:before {
  content: counters(list-item, ".") " ";
}
