:root {
  --sans-serif-font: "Roboto", sans-serif;
  --font-color: #333;
  --bg-color: #eee;
  --card-bg-color: white;
  --sidebar-bg-color: #333;
  --sidebar-color: white;
  --link-color: #1c75b9;
}
/*dark theme */

[data-theme="dark"] {
  --font-color: white;
  --link-color: skyblue;
  --bg-color: #333;
  --card-bg-color: black;
  --sidebar-bg-color: #black;
}
